


.navbar{
    padding: 0 1.6rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background: #0c3e93;

    height: 90px;
    font-size: 1.6rem;
    color: #fff;

    @media (max-width: 768px) 
        display: flex;
        font-size: 1.3rem;
        
      
}

.buttons{
    margin: 0 10px 0;
    width: 200px;
    
    
    
}

.login {
    margin: 0 20px 0;
    font-size:24px;
    background-color: #0c3e93;
    color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    height: 50px;
    width:70px;

    @media (max-width: 768px) 
        display: flex;
        font-size: 1rem;
        width:70px;
}

.login:hover{
    background-color: #fff;
    color: #0c3e93;
    transition:0.5ms;
}

.register {
    font-size:24px;
    background-color: #0c3e93;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width:70px;

    @media (max-width: 768px) 
        display: flex;
        font-size: 1rem;
        width:70px;
    
}

.register:hover{
    background-color: #fff;
    color: #0c3e93;
    transition:0.5ms;
}

